
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn Page</title>
</head>
<body>

    <form action="Login" method="post">
        <input type="text" name="userName" />UserName
        <input type="text" name="passWord" />Password
        <button>Submit</button>
        INCORRECT USERNAME AND PASSWORD COMBINATION
    </form>

</body>
</html>
