@using Project.Web.Models;
@model UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create User Account</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
